html,
body,
div {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

// @import 'hack-element.scss';
